<li class="active"><a href="/admin/member"><span class="title">회원 관리</span></a></li>

<li><a href="javascript:;"><span class="title">게시물 관리</span> <span class="arrow"></span></a>
    <ul class="sub-menu">
        <li><a href="/admin/boards/mentoring/list"> 멘토만나기</a></li>
        <li><a href="/admin/boards/question/list"> 풀어주세요</a></li>
    </ul>
</li>

<li><a href="/admin/push/student/auto"><span class="title">푸쉬</span></a></li>

<li><a href="/admin/point/manage"><span class="title">포인트관리</span></a></li>

<li><a href="/admin/payment/pay"><span class="title">결제, 환불</span></a></li>

<li><a href="/admin/exam/list"><span class="title">모의고사관리</span></a></li>

<li><a href="/admin/grade/list"><span class="title">학생성적관리</span></a></li>

<li><a href="/admin/report/list"><span class="title">컨텐츠제보</span></a></li>

<li><a href="/admin/ask/list"><span class="title">문의하기</span></a></li>

<li><a href="/admin/notice/list"><span class="title">공지사항</span></a></li>