@import caseClasses.StudentForPushList
@(list: Seq[StudentForPushList], page: Int, pageSize: Int, totalSize: Int, totalGrade: List[Int], year: Int, school: String, fromYear: Int, fromMonth: Int, toYear: Int, toMonth: Int)

@views.html.admin.layout_admin("AZit admin") {
    <div class="push page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li><span>푸쉬</span></li>
                </ul>
            </div><!-- .page-bar-->
            <div class="push-main az-pb-50">
                <div class="block-tab">
                    <div class="tabbable-custom">
                        <ul class="nav nav-tabs">
                            <li><a href="/admin/push/student/auto">학생(자동)</a></li>
                            <li class="active"><a href="/admin/push/student/manual">학생(수동)</a></li>
                            <li><a href="/admin/push/mentor/auto">멘토(자동)</a></li>
                            <li><a href="/admin/push/mentor/manual">멘토(수동)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-push-student-manual" class="tab-push-student-manual tab-pane active">
                                <div class="block-wrapper az-pb-50">
                                    <div class="block-6">
                                        <div class="az-container-style-1">
                                            <div class="portlet az-bg-white">
                                                <div class="portlet-body form">
                                                    <form action="#" class="form-horizontal form-bordered">
                                                        <div class="form-body">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3"> 종합성적 <br/>(언/수/외 등급 합)</label>
                                                                <div class="col-md-9">
                                                                    <div class="checkbox-list">
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade3" value="3"/>3</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade4" value="4"/>4</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade5" value="5"/>5</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade6" value="6"/>6</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade7" value="7"/>7</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade8" value="8"/>8</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade9" value="9"/>9</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade10" value="10"/>10</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade11" value="11"/>11</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade12" value="12"/>12</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade13" value="13"/>13</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade14" value="14"/>14</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade15" value="15"/>15</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade16" value="16"/>16</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade17" value="17"/>17</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade18" value="18"/>18</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade19" value="19"/>19</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade20" value="20"/>20</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade21" value="21"/>21</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade22" value="22"/>22</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade23" value="23"/>23</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade24" value="24"/>24</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade25" value="25"/>25</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade26" value="26"/>26</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade27" value="27"/>27</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade28" value="28"/>28</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" name="totalGrade" id="grade29" value="29"/>29</label>
                                                                    </div>
                                                                </div>
                                                                <script>
                                                                    @for(row <- totalGrade){
                                                                         $("#grade@row").parents().addClass("active");
                                                                         $("#grade@row").prop('checked', true);
                                                                     }

                                                                </script>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">학교</label>
                                                                <div class="col-md-9">
                                                                    <input type="text" name="school" class="form-control" value="@school"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">학년</label>
                                                                <div class="col-md-9">
                                                                    <select id="year" name="year" class="form-control input-medium">
                                                                        <option value="0">선택</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">N수생</option>
                                                                    </select>
                                                                    <script>
                                                                      $("#year").val("@year");
                                                                   </script>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">가입시기</label>
                                                                <div class="col-md-9">
                                                                    <select name="fromYear" id="fromYear" class="form-control input-inline input-xsmall">
                                                                        <option value="0">-</option>
                                                                        <option value="2016">2016</option>
                                                                        <option value="2017">2017</option>
                                                                        <option value="2018">2018</option>
                                                                        <option value="2019">2019</option>
                                                                        <option value="2020">2020</option>
                                                                    </select>
                                                                    <span style="margin-right : 15px ;" class="help-inline">
                                                                        년</span>
                                                                    <select name="fromMonth" id="fromMonth" class="form-control input-inline input-mini">
                                                                        <option value="0">-</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                                        <option value="11">11</option>
                                                                        <option value="12">12</option>
                                                                    </select>
                                                                    <span class="help-inline">월</span>
                                                                    <span class="help-inline">~</span>
                                                                    <select name="toYear" id="toYear" class="form-control input-inline input-xsmall">
                                                                        <option value="0">-</option>
                                                                        <option value="2016">2016</option>
                                                                        <option value="2017">2017</option>
                                                                        <option value="2018">2018</option>
                                                                        <option value="2019">2019</option>
                                                                        <option value="2020">2020</option>
                                                                    </select>
                                                                    <span style="margin-right :15 px ;" class="help-inline">
                                                                        년</span>
                                                                    <select name="toMonth" id="toMonth" class="form-control input-inline input-mini">
                                                                        <option value="0">-</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                                        <option value="11">11</option>
                                                                        <option value="12">12</option>
                                                                    </select>
                                                                    <span class="help-inline">월</span>
                                                                    <script>
                                                                      $("#fromYear").val("@fromYear");
                                                                      $("#fromMonth").val("@fromMonth");
                                                                      $("#toYear").val("@toYear");
                                                                      $("#toMonth").val("@toMonth");
                                                                    </script>

                                                                    @*<div data-date-format="yyyy/mm/dd" class="input-group input-large date-picker input-daterange">*@
                                                                        @*<input type="text" name="from" class="form-control"/><span class="input-group-addon">~</span>*@
                                                                        @*<input type="text" name="to" class="form-control"/>*@
                                                                    @*</div>*@
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div style="background : #f9f9f9 ; border-left : 0 none ;" class="col-md-12 text-center">
                                                                    <button type="submit" class="btn green btn-search">검색</button>
                                                                </div>
                                                            </div>
                                                            <script>

                                                            </script>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .block-6-->
                                    <div class="block-7">
                                        <div class="az-container-style-1">
                                            <div class="portlet light bordered">
                                                <div class="portlet-body">
                                                    <div class="az-dp-table align-middle">
                                                        <div class="az-dp-table-cell">
                                                            <textarea id="message" name="message" rows="6" class="form-control"></textarea>
                                                        </div>
                                                        <div style="width : 100px ;" class="az-dp-table-cell text-right">
                                                            <button type="submit" data-toggle="modal" data-target="#popupConfirmSendInfo" class="btn green" id="send">보내기</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .block-7-->
                                    <div class="block-8">
                                        <div class="az-container-style-1">
                                            <div class="check-all-button">
                                                <label><input type="checkbox" name="checkAll" id="checkAll"/>전체선택</label>
                                            </div>
                                            <script>
                                                $("#checkAll").click(function() {
                                                    if($(this).parent().hasClass("checked")){
                                                        $("input[name=selectedStudent]:checkbox").each(function() {
                                                            $(this).attr("checked", false);
                                                            $(this).parents().removeClass("checked");
                                                        });
                                                    }else{
                                                        $("input[name=selectedStudent]:checkbox").each(function() {
                                                            $(this).attr("checked", true);
                                                            $(this).parents().addClass("checked");
                                                        });
                                                    }
                                                });
                                            </script>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover text-center az-bg-white">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">선택</th>
                                                            <th class="text-center">번호</th>
                                                            <th class="text-center">이름</th>
                                                            <th class="text-center">학교</th>
                                                            <th class="text-center">학년</th>
                                                            <th class="text-center">종합성적</th>
                                                            <th class="text-center">가입일</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for((row,index) <- list.zipWithIndex){
                                                            <tr>
                                                                <td><label><input type="checkbox" name="selectedStudent" value ="@row.id"/></label></td>
                                                                <td>@{totalSize - index}</td>
                                                                <td>@row.name</td>
                                                                <td>@row.school</td>
                                                                <td>@row.year</td>
                                                                <td>@row.totalGrade</td>
                                                                <td>@row.createdAt</td>
                                                            </tr>
                                                        }
                                                        @*<tr>*@
                                                            @*<td><label><input type="checkbox" name=""/></label></td>*@
                                                            @*<td>2</td>*@
                                                            @*<td>홍길동</td>*@
                                                            @*<td>홍보고등학교</td>*@
                                                            @*<td>고3</td>*@
                                                            @*<td>3</td>*@
                                                            @*<td>15.06.28 12:00</td>*@
                                                        @*</tr>*@
                                                    </tbody>
                                                </table>
                                            </div>
@*//                                            @helper.pagination(page, pageSize, totalSize, (p: Int) => controllers.admin.routes.AdminPushController.studentManual(page, totalGrade, year, school, fromYear, fromMonth, toYear, toMonth))*@

                                        </div>
                                    </div><!-- .block-8-->
                                </div>
                            </div><!-- .tab-push-student-auto-->
                        </div>
                    </div>
                </div><!-- .block-tab-->
            </div><!-- .push-main-->
        </div><!-- .page-content-->
    </div> <!-- .push-->

    <div id="popupConfirmSendInfo" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">

                    </button>
                </div>
                <div class="modal-body"><h4><strong>해당내용을 보내시겠습니까</strong><!-- Do you want to send this message?--></h4></div>
                <div class="modal-footer">
                    <button type="button" class="btn green btn-confirm" id ="send_push">확인</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">취소</button>
                </div>
            </div>
        </div>
    </div><!-- .popupConfirmSendInfo-->
    <script>
        $("#send_push").click(function(e){
            var message = $("#message").val();
            var ids =  [];
            $("input[name=selectedStudent]:checked").each(function() {
                ids.push($(this).val());
            });
            $('#popupConfirmSendInfo').modal('hide');
            if(message == "" || message == null){
                alert("메세지를 입력해주세요.");
            }else if(ids.length == 0){
                alert("선택된 학생이 없습니다.");
            }else{
                $.ajax({
                    type: 'POST',
                    url: '@controllers.admin.routes.AdminPushController.manualPush()',
                    data:  '{"message": "'+ message +'", "ids": "'+ ids  +'", "code": "201"}',
                    dataType:  'text',
                    contentType:'application/json',
                    success: function(result) {
                        if(result == "success"){
                            alert("푸쉬 메세지 전송이 성공하였습니다.")
                        }else{
                            alert("푸쉬 메세지 전송이 실패하였습니다.")
                        }
                    }
                });
            }
        });
    </script>
}
